## Task 4: Create Profit Summary Table

This notebook demonstrates the creation of the **Profit Summary Table**, which provides an aggregate view of profit across key business dimensions: Year, Product Category, Product Sub-Category, and Customer.

### 0. Environment Setup and Data Loading

In [21]:
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Add project root to path for module imports
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
if PROJECT_ROOT not in sys.path:
    sys.path.insert(0, PROJECT_ROOT)

from src.spark_session import get_spark_session
from src.load_source_data import load_customer_data, load_orders_data, load_products_data
from src.load_enriched_orders import create_enriched_orders_table

# Initialize Spark session
spark = get_spark_session("ProfitSummaryNotebook")

# Load Raw Data
customers_df = load_customer_data(spark, os.path.join(PROJECT_ROOT, "data", "Customer.xlsx"))
orders_df = load_orders_data(spark, os.path.join(PROJECT_ROOT, "data", "Orders.json"))
products_df = load_products_data(spark, os.path.join(PROJECT_ROOT, "data", "Products.csv"))

print("Data loaded successfully.")

Checking file at: /Users/kushalsenlaskar/Documents/E-commerce Sales Data/data/Customer.xlsx
File found. Loading Excel data using Spark...
Customer data loaded successfully

Checking file at: /Users/kushalsenlaskar/Documents/E-commerce Sales Data/data/Orders.json
File found. Loading JSON data using Spark...
Orders data loaded successfully

Checking file at: /Users/kushalsenlaskar/Documents/E-commerce Sales Data/data/Products.csv
File found. Loading CSV data using Spark...
Products data loaded successfully
Data loaded successfully.

### 1. Create Enriched Orders Table

In [22]:
# Create Enriched Orders Table as foundation
print("Creating Enriched Orders Table...")
enriched_orders_df = create_enriched_orders_table(orders_df, customers_df, products_df)

print(f"Enriched orders table created with {enriched_orders_df.count()} rows")
enriched_orders_df.show(3)

Creating Enriched Orders Table...

--- Cleaning Orders Data for Enrichment ---
Removing records with negative Profit...
   Records with negative Profit: 1870
Removing records with NULL Order ID...
Removing records with negative Profit...
   Records with negative Profit: 1870
Removing records with NULL Order ID...
   Records with NULL Order ID: 0
   Removing duplicate Order IDs...
   Records with NULL Order ID: 0
   Removing duplicate Order IDs...
   Records with duplicate Order ID removed: 3697
Validating date formats...
   Records with duplicate Order ID removed: 3697
Validating date formats...
   Records with invalid date format: 0
Removing records with NULL Customer ID...
   Records with invalid date format: 0
Removing records with NULL Customer ID...
   Records with NULL Customer ID: 0
Removing records with NULL Product ID...
   Records with NULL Customer ID: 0
Removing records with NULL Product ID...
   Records with NULL Product ID: 0
   Records with NULL Product ID: 0
Orders data cleaning completed
  Original records: 9994, After cleaning: 4427
  Total records removed: 5567

--- Cleaning Customers Data for Enrichment ---
Orders data cleaning completed
  Original records: 9994, After cleaning: 4427
  Total records removed: 5567

--- Cleaning Customers Data for Enrichment ---
Removing records with NULL Customer ID...
   Records with NULL Customer ID: 0
Removing duplicate Customer IDs...
Removing records with NULL Customer ID...
   Records with NULL Customer ID: 0
Removing duplicate Customer IDs...
   Records with duplicate Customer ID removed: 0
Customers data cleaning completed
  Original records: 793, After cleaning: 793
  Total records removed: 0

--- Cleaning Products Data for Enrichment ---
   Records with duplicate Customer ID removed: 0
Customers data cleaning completed
  Original records: 793, After cleaning: 793
  Total records removed: 0

--- Cleaning Products Data for Enrichment ---
Removing records with NULL Product ID...
   Records with NULL Product ID: 0
Removing duplicate Product IDs...
   Records with duplicate Product ID removed: 33
Removing records with NULL Product ID...
   Records with NULL Product ID: 0
Removing duplicate Product IDs...
   Records with duplicate Product ID removed: 33
Products data cleaning completed
  Original records: 1851, After cleaning: 1818
  Total records removed: 33
Products data cleaning completed
  Original records: 1851, After cleaning: 1818
  Total records removed: 33
Enriched orders table created with 4327 rows
Enriched orders table created with 4327 rows
+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
|      Order ID|Order Date|Ship Date|     Ship Mode|   Customer Name|      Country|       Category|Sub-Category|        Product Name|Quantity| Price|Discount|Profit|
+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
|CA-2014-100006|  7/9/2014|13/9/2014|Standard Class|     Dennis Kane|United States|     Technology|      Phones|   AT&T EL51110 DECT|       3|377.97|     0.0|109.61|
|CA-2014-100090|  8/7/2014|12/7/2014|Standard Class|      Ed Braxton|United States|Office Supplies|     Binders|Wilson Jones Ledg...|       6| 196.7|     0.2| 68.85|
|CA-2014-100293| 14/3/2014|18/3/2014|Standard Class|Neil Französisch|United States|Office Supplies|       Paper|          Xerox 1887|       6| 91.06|     0.2| 31.87|
+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
only showing top 3 rows

+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
|      Order ID|Order Date|Ship Date|     Ship Mode|   Customer Name|      Country|       Category|Sub-Category|        Product Name|Quantity| Price|Discount|Profit|
+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
|CA-2014-100006|  7/9/2014|13/9/2014|Standard Class|     Dennis Kane|United States|     Technology|      Phones|   AT&T EL51110 DECT|       3|377.97|     0.0|109.61|
|CA-2014-100090|  8/7/2014|12/7/2014|Standard Class|      Ed Braxton|United States|Office Supplies|     Binders|Wilson Jones Ledg...|       6| 196.7|     0.2| 68.85|
|CA-2014-100293| 14/3/2014|18/3/2014|Standard Class|Neil Französisch|United States|Office Supplies|       Paper|          Xerox 1887|       6| 91.06|     0.2| 31.87|
+--------------+----------+---------+--------------+----------------+-------------+---------------+------------+--------------------+--------+------+--------+------+
only showing top 3 rows

### 2. Create Profit Summary Table

In [23]:
import importlib
import src.load_profit_summary
importlib.reload(src.load_profit_summary)

from src.load_profit_summary import create_profit_summary_table

# Create Profit Summary Table
print("Creating Profit Summary Table by Year, Category, Sub-Category, and Customer...")
profit_summary_df = create_profit_summary_table(enriched_orders_df)

print(f"\nProfit summary table created with {profit_summary_df.count()} groups")
profit_summary_df.printSchema()
profit_summary_df.show(10, truncate=False)

Creating Profit Summary Table by Year, Category, Sub-Category, and Customer...

Profit summary table created with 4020 groups
root
 |-- Year: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Total_Profit: double (nullable = true)
 |-- Order_Count: long (nullable = false)


Profit summary table created with 4020 groups
root
 |-- Year: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Total_Profit: double (nullable = true)
 |-- Order_Count: long (nullable = false)

+----+---------+------------+-------------------+------------+-----------+
|Year|Category |Sub-Category|Customer Name      |Total_Profit|Order_Count|
+----+---------+------------+-------------------+------------+-----------+
|2014|Furniture|Bookcases   |Brian Dahlen       |3.93        |1          |
|2014|Furniture|Bookcases   |Eileen Kiefer      |70.49       |1          |
|2014|Furniture|Bookcases   |Lena Hernandez     |172.48      |1          |
|2014|Furniture|Bookcases   |Liz Carlisle       |3.42        |1          |
|2014|Furniture|Bookcases   |Marina Lichtenstein|27.36       |1          |
|2014|Furniture|Bookcases   |Pamela Coakley     |196.69      |1          |
|2014|Furniture|Bookcases   |Sharelle Roach     |57.49       |1          |
|2014|Furniture|Bookcases   |Tom Stivers        |259.89      |1          |
|2014|Furniture|Chairs      |  Shahi  Collister |0.0         |1          |
|2014|Furniture|Chairs      |Aaron Bergman      |5.48        |1          |
+----+---------+------------+-------------------+------------+-----------+
only showing top 10 rows

+----+---------+------------+-------------------+------------+-----------+
|Year|Category |Sub-Category|Customer Name      |Total_Profit|Order_Count|
+----+---------+------------+-------------------+------------+-----------+
|2014|Furniture|Bookcases   |Brian Dahlen       |3.93        |1          |
|2014|Furniture|Bookcases   |Eileen Kiefer      |70.49       |1          |
|2014|Furniture|Bookcases   |Lena Hernandez     |172.48      |1          |
|2014|Furniture|Bookcases   |Liz Carlisle       |3.42        |1          |
|2014|Furniture|Bookcases   |Marina Lichtenstein|27.36       |1          |
|2014|Furniture|Bookcases   |Pamela Coakley     |196.69      |1          |
|2014|Furniture|Bookcases   |Sharelle Roach     |57.49       |1          |
|2014|Furniture|Bookcases   |Tom Stivers        |259.89      |1          |
|2014|Furniture|Chairs      |  Shahi  Collister |0.0         |1          |
|2014|Furniture|Chairs      |Aaron Bergman      |5.48        |1          |
+----+---------+------------+-------------------+------------+-----------+
only showing top 10 rows

### 3. Data Quality Validation

In [24]:
from src.load_profit_summary import validate_profit_summary_table

print("Running data quality checks on profit summary data...")
validated_profit_summary_df = validate_profit_summary_table(profit_summary_df, enriched_orders_df)
print("\nProfit summary data validation complete.")

Running data quality checks on profit summary data...

--- Validating Profit Summary Table ---

Info: All 4020 records are unique combinations.

Info: All 4020 records are unique combinations.

Info: Profit summary has 4020 unique groups from 4327 orders.

Data quality checks for profit summary table passed successfully.

Profit summary data validation complete.

Info: Profit summary has 4020 unique groups from 4327 orders.

Data quality checks for profit summary table passed successfully.

Profit summary data validation complete.

### 4. Display Summary Statistics

In [26]:
from pyspark.sql.functions import col, sum as pyspark_sum, avg, max as pyspark_max, min as pyspark_min, count, round as pyspark_round

print("\n=== Profit Summary Statistics ===")

# Overall statistics
print("\nOverall Profit Summary Statistics:")
stats = profit_summary_df.agg(
    pyspark_round(pyspark_sum("Total_Profit"), 2).alias("Total_Profit_All_Groups"),
    pyspark_round(avg("Total_Profit"), 2).alias("Average_Profit_Per_Group"),
    pyspark_round(pyspark_max("Total_Profit"), 2).alias("Max_Profit_Group"),
    pyspark_round(pyspark_min("Total_Profit"), 2).alias("Min_Profit_Group"),
    count("*").alias("Total_Groups")
).collect()[0]

print(f"  Total Profit (All Groups): {stats['Total_Profit_All_Groups']}")
print(f"  Average Profit Per Group: {stats['Average_Profit_Per_Group']}")
print(f"  Max Profit (Single Group): {stats['Max_Profit_Group']}")
print(f"  Min Profit (Single Group): {stats['Min_Profit_Group']}")
print(f"  Total Number of Groups: {stats['Total_Groups']}")

# Breakdown by Year
print("\n\nProfit Breakdown by Year:")
profit_by_year = profit_summary_df.groupBy("Year").agg(
    pyspark_round(pyspark_sum("Total_Profit"), 2).alias("Yearly_Profit"),
    count("*").alias("Groups_Per_Year")
).orderBy("Year")

profit_by_year.show()

# Breakdown by Category
print("\nProfit Breakdown by Category:")
profit_by_category = profit_summary_df.groupBy("Category").agg(
    pyspark_round(pyspark_sum("Total_Profit"), 2).alias("Category_Profit"),
    count("*").alias("Groups_Per_Category")
).orderBy("Category")

profit_by_category.show()

# Top 5 Most Profitable Groups
print("\nTop 5 Most Profitable Groups:")
profit_summary_df.orderBy(col("Total_Profit").desc()).show(5, truncate=False)

# Bottom 5 Least Profitable Groups
print("\nBottom 5 Least Profitable Groups:")
profit_summary_df.orderBy(col("Total_Profit").asc()).show(5, truncate=False)

=== Profit Summary Statistics ===

Overall Profit Summary Statistics:
  Total Profit (All Groups): 219353.44
  Average Profit Per Group: 54.57
  Max Profit (Single Group): 8399.98
  Min Profit (Single Group): 0.0
  Total Number of Groups: 4020


Profit Breakdown by Year:
  Total Profit (All Groups): 219353.44
  Average Profit Per Group: 54.57
  Max Profit (Single Group): 8399.98
  Min Profit (Single Group): 0.0
  Total Number of Groups: 4020


Profit Breakdown by Year:
+----+-------------+---------------+
|Year|Yearly_Profit|Groups_Per_Year|
+----+-------------+---------------+
|2014|      39104.9|            792|
|2015|      46621.2|            855|
|2016|     64079.74|           1052|
|2017|      69547.6|           1321|
+----+-------------+---------------+


Profit Breakdown by Category:
+----+-------------+---------------+
|Year|Yearly_Profit|Groups_Per_Year|
+----+-------------+---------------+
|2014|      39104.9|            792|
|2015|      46621.2|            855|
|2016|     64079.74|           1052|
|2017|      69547.6|           1321|
+----+-------------+---------------+


Profit Breakdown by Category:
+---------------+---------------+-------------------+
|       Category|Category_Profit|Groups_Per_Category|
+---------------+---------------+-------------------+
|      Furniture|        37979.0|                697|
|Office Supplies|       87721.81|               2507|
|     Technology|       93652.63|                816|
+---------------+---------------+-------------------+


Top 5 Most Profitable Groups:
+---------------+---------------+-------------------+
|       Category|Category_Profit|Groups_Per_Category|
+---------------+---------------+-------------------+
|      Furniture|        37979.0|                697|
|Office Supplies|       87721.81|               2507|
|     Technology|       93652.63|                816|
+---------------+---------------+-------------------+


Top 5 Most Profitable Groups:
+----+---------------+------------+-------------+------------+-----------+
|Year|Category       |Sub-Category|Customer Name|Total_Profit|Order_Count|
+----+---------------+------------+-------------+------------+-----------+
|2016|Technology     |Copiers     |Tamara Chand |8399.98     |1          |
|2017|Technology     |Copiers     |Hunter Lopez |5039.99     |1          |
|2016|Office Supplies|Binders     |Adrian Barton|4946.37     |1          |
|2016|Technology     |Machines    |Sanjit Engle |2799.98     |1          |
|2016|Technology     |Machines    |Karen Dan!els|2400.97     |1          |
+----+---------------+------------+-------------+------------+-----------+
only showing top 5 rows


Bottom 5 Least Profitable Groups:
+----+---------------+------------+-------------+------------+-----------+
|Year|Category       |Sub-Category|Customer Name|Total_Profit|Order_Count|
+----+---------------+------------+-------------+------------+-----------+
|2016|Technology     |Copiers     |Tamara Chand |8399.98     |1          |
|2017|Technology     |Copiers     |Hunter Lopez |5039.99     |1          |
|2016|Office Supplies|Binders     |Adrian Barton|4946.37     |1          |
|2016|Technology     |Machines    |Sanjit Engle |2799.98     |1          |
|2016|Technology     |Machines    |Karen Dan!els|2400.97     |1          |
+----+---------------+------------+-------------+------------+-----------+
only showing top 5 rows


Bottom 5 Least Profitable Groups:
+----+---------------+------------+--------------------+------------+-----------+
|Year|Category       |Sub-Category|Customer Name       |Total_Profit|Order_Count|
+----+---------------+------------+--------------------+------------+-----------+
|2016|Office Supplies|Storage     |Ellis Ballard       |0.0         |1          |
|2015|Furniture      |Chairs      |Sean Christensen    |0.0         |1          |
|2016|Furniture      |Furnishings |Liz Preis           |0.0         |1          |
|2014|Furniture      |Chairs      |Anna Andreadi       |0.0         |1          |
|2014|Furniture      |Chairs      |Cynthia A;,.[]rntzen|0.0         |1          |
+----+---------------+------------+--------------------+------------+-----------+
only showing top 5 rows

+----+---------------+------------+--------------------+------------+-----------+
|Year|Category       |Sub-Category|Customer Name       |Total_Profit|Order_Count|
+----+---------------+------------+--------------------+------------+-----------+
|2016|Office Supplies|Storage     |Ellis Ballard       |0.0         |1          |
|2015|Furniture      |Chairs      |Sean Christensen    |0.0         |1          |
|2016|Furniture      |Furnishings |Liz Preis           |0.0         |1          |
|2014|Furniture      |Chairs      |Anna Andreadi       |0.0         |1          |
|2014|Furniture      |Chairs      |Cynthia A;,.[]rntzen|0.0         |1          |
+----+---------------+------------+--------------------+------------+-----------+
only showing top 5 rows

### 5. Creation of Profit Summary Views

In [27]:
# Create temporary views
validated_profit_summary_df.createOrReplaceTempView("profit_summary_view")

print("Temporary view 'profit_summary_view' created.")

Temporary view 'profit_summary_view' created.

### 6. SQL Queries on Profit Summary View

In [28]:
print("\n=== SQL Queries on Profit Summary ===")

# Query 1: Total profit by year
print("\nTotal Profit by Year:")
spark.sql("""
    SELECT Year, SUM(Total_Profit) as Total_Profit, COUNT(*) as Groups
    FROM profit_summary_view
    GROUP BY Year
    ORDER BY Year
""").show()

# Query 2: Customer performance
print("\nTop 10 Customers by Profit:")
spark.sql("""
    SELECT `Customer Name`, SUM(Total_Profit) as Total_Customer_Profit, COUNT(*) as Order_Groups
    FROM profit_summary_view
    GROUP BY `Customer Name`
    ORDER BY Total_Customer_Profit DESC
    LIMIT 10
""").show()

# Query 3: Category performance
print("\nCategory & Sub-Category Performance:")
spark.sql("""
    SELECT Category, `Sub-Category`, SUM(Total_Profit) as Total_Profit, COUNT(*) as Groups
    FROM profit_summary_view
    GROUP BY Category, `Sub-Category`
    ORDER BY Category, Total_Profit DESC
""").show()

=== SQL Queries on Profit Summary ===

Total Profit by Year:
+----+------------------+------+
|Year|      Total_Profit|Groups|
+----+------------------+------+
|2014|39104.899999999994|   792|
|2015| 46621.19999999999|   855|
|2016| 64079.73999999996|  1052|
|2017| 69547.59999999993|  1321|
+----+------------------+------+


Top 10 Customers by Profit:
+----+------------------+------+
|Year|      Total_Profit|Groups|
+----+------------------+------+
|2014|39104.899999999994|   792|
|2015| 46621.19999999999|   855|
|2016| 64079.73999999996|  1052|
|2017| 69547.59999999993|  1321|
+----+------------------+------+


Top 10 Customers by Profit:
+----------------+---------------------+------------+
|   Customer Name|Total_Customer_Profit|Order_Groups|
+----------------+---------------------+------------+
|    Tamara Chand|    8443.119999999999|           4|
|   Adrian Barton|    5800.199999999999|           7|
|    Hunter Lopez|    5185.179999999999|           5|
|    Sanjit Engle|              2916.79|           9|
|   Karen Dan!els|              2592.29|           5|
|Tom Boeckenhauer|               2283.8|           6|
|       Jane Waco|              2115.66|           5|
|             NaN|               2108.6|          28|
|    Fred Hopkins|              1772.47|           7|
|       Pete Kriz|              1666.61|          10|
+----------------+---------------------+------------+


Category & Sub-Category Performance:
+----------------+---------------------+------------+
|   Customer Name|Total_Customer_Profit|Order_Groups|
+----------------+---------------------+------------+
|    Tamara Chand|    8443.119999999999|           4|
|   Adrian Barton|    5800.199999999999|           7|
|    Hunter Lopez|    5185.179999999999|           5|
|    Sanjit Engle|              2916.79|           9|
|   Karen Dan!els|              2592.29|           5|
|Tom Boeckenhauer|               2283.8|           6|
|       Jane Waco|              2115.66|           5|
|             NaN|               2108.6|          28|
|    Fred Hopkins|              1772.47|           7|
|       Pete Kriz|              1666.61|          10|
+----------------+---------------------+------------+


Category & Sub-Category Performance:
+---------------+------------+------------------+------+
|       Category|Sub-Category|      Total_Profit|Groups|
+---------------+------------+------------------+------+
|      Furniture|      Chairs|17580.980000000007|   191|
|      Furniture| Furnishings| 9383.810000000003|   391|
|      Furniture|      Tables| 7368.129999999999|    59|
|      Furniture|   Bookcases|3646.0799999999995|    56|
|Office Supplies|     Binders|33937.049999999974|   431|
|Office Supplies|       Paper|16400.349999999995|   628|
|Office Supplies|     Storage|15573.510000000004|   358|
|Office Supplies|  Appliances|10867.039999999994|   204|
|Office Supplies|         Art|3512.2799999999993|   404|
|Office Supplies|   Envelopes| 3396.749999999999|   117|
|Office Supplies|      Labels| 2399.409999999999|   188|
|Office Supplies|    Supplies|           1245.49|    85|
|Office Supplies|   Fasteners|            389.93|    92|
|     Technology|     Copiers|28476.210000000003|    37|
|     Technology|      Phones| 26319.50000000002|   382|
|     Technology| Accessories|25376.990000000027|   363|
|     Technology|    Machines|13479.930000000002|    34|
+---------------+------------+------------------+------+

+---------------+------------+------------------+------+
|       Category|Sub-Category|      Total_Profit|Groups|
+---------------+------------+------------------+------+
|      Furniture|      Chairs|17580.980000000007|   191|
|      Furniture| Furnishings| 9383.810000000003|   391|
|      Furniture|      Tables| 7368.129999999999|    59|
|      Furniture|   Bookcases|3646.0799999999995|    56|
|Office Supplies|     Binders|33937.049999999974|   431|
|Office Supplies|       Paper|16400.349999999995|   628|
|Office Supplies|     Storage|15573.510000000004|   358|
|Office Supplies|  Appliances|10867.039999999994|   204|
|Office Supplies|         Art|3512.2799999999993|   404|
|Office Supplies|   Envelopes| 3396.749999999999|   117|
|Office Supplies|      Labels| 2399.409999999999|   188|
|Office Supplies|    Supplies|           1245.49|    85|
|Office Supplies|   Fasteners|            389.93|    92|
|     Technology|     Copiers|28476.210000000003|    37|
|     Technology|      Phones| 26319.50000000002|   382|
|     Technology| Accessories|25376.990000000027|   363|
|     Technology|    Machines|13479.930000000002|    34|
+---------------+------------+------------------+------+

### 7. Stop Spark Session

In [29]:
spark.stop()
print("Spark session stopped.")

Spark session stopped.